:root {
}

body,
html {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    width: 100%;
    height: 100%;
    font-family: 'Noto Sans', sans-serif;
}

.material-select,
.material-textfield {
    position: relative;
    display: flex;
    align-items: center;
}

.material-select > label,
.material-textfield > label {
    position: absolute;
    font-size: 1rem;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    background: #fff;
    color: gray;
    padding: 0 .2rem;
    margin: 0 .6rem;
    transition: .1s ease-out;
    transform-origin: left top;
    pointer-events: none;
}

.material-select > select,
.material-textfield > input {
    position: relative;
    font-size: 1rem;
    outline: none;
    border: 1px solid lightgray;
    border-radius: 5px;
    background: #fff;
    padding: .7rem;
    transition: 0.1s ease-out;
    width: 100%;
    font-weight: bold;
}

.material-select > select:focus,
.material-textfield > input:focus {
    border-color: #6200EE;
    font-weight: bold;
}
.material-select > select:focus+label,
.material-textfield > input:focus+label {
    color: #6200EE;
    top: 0;
    font-weight: bold;
    font-size: small;
    transform: translateY(-50%) scale(.9);
}

.material-select > select:not(:placeholder-shown)+label,
.material-textfield > input:not(:placeholder-shown)+label {
    top: 0;
    font-size: small;
    font-weight: bold;
    transform: translateY(-50%) scale(.9);
}

.invalid-input > input {
    border-color: red !important;
}
.invalid-input > label {
    color: red !important;
}

.material-textfield > span {
    position: absolute;
    right: .5rem;
}

.main-container {
    padding: 2em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    height: 100%;
}

.column-container {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 17rem;
}

.pointer,
.material-textfield > span,
select {
    cursor: pointer;
}

input[type=submit] {
    color: #fff;
    background: #2a4ea9;
    border: none;
    border-radius: 4px;
    padding: .7rem;
}

.header-label {
    font-size: 1.2rem;
}
.login-label {
    text-align: start;
}

.vertical-margin {
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.logo {
    margin: 1.5rem;
    margin-bottom: 2rem;
}

input[type=password] {
    letter-spacing: .3rem;
    /* font-size: 20px; */
    /* padding-bottom: .4rem; */
}

a {
    color: #2a4ea9;
    text-decoration: none;
}

.bold {
    font-weight: bold;
}

.small-font {
    font-size: .9rem;
}

@media not all and (min-resolution:.001dpcm) {
    @supports (-webkit-appearance:none) {

        .pure-material-textfield-outlined>input,
        .pure-material-textfield-outlined>input+span,
        .pure-material-textfield-outlined>input+span::before,
        .pure-material-textfield-outlined>input+span::after {
            transition-duration: 0.1s;
        }
    }
}